*
	{
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
	}

body
	{
		width: 100%;
		background-position: center;
		background-size: cover;
		position: relative;
	}

ul
	{
		flex: 1;
		text-align: right;
	}

li
	{
		list-style: none;
		display: inline-block;
		padding: 14px 16px;
		position: relative;
	}

li a
	{
		color: #2e1114;
		text-decoration: none;
		font-size: 16px;
	}

li a:hover
	{
		background-color: #83677b;
		color:#fff;
	}

.text-box
	{
		width: 90%;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}

.text-box h1
	{
		font-size: 70px;
	}

.text-box p
	{
		margin: 10px 0 40px;
		font-size: 25px;
		color: #0b0c10;
		display: inline-block;
		border: 1px solid #adadad;
		padding: 12px 34px;
		background: transparent;
		position: relative;
		cursor: pointer;
	}

.text-box p:hover
	{
		border: 1px solid #553d67;
		background-color: #553d67;
		color: #adadad;
		transition: 1s;
	}


/*------------------- biodata page --------------------*/



body
	{
		height: 10vh;
		width: 100%;
		background-position: center;
		background-size: cover;
		text-align: center;
		color: #2e1114;
		background-repeat: no-repeat;
	}

h1
	{
		margin-top: 100px;
		font-size: 60px;
}

.about-me
	{
		width: 80%;
		margin: auto;
		padding-top: 120px;
		padding-bottom: 50px;
	}

h2{
	font-size: 30px;
}

table
	{
  		border-collapse: collapse;
  		width: 100%;
	}

td, th 
	{
  		border: 1px solid black;
  		text-align: center;
  		padding: 8px;
  		width: 200px;
	}	

th{
	background-color: #cbc0d3;
}


.about-col
	{
		flex-basis: 48%;
		padding: 30px 2px;
	}

.about-col img
	{
		width: 50%;
	}
