*
	{
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
	}

body
	{
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		position: relative;
	}

.nav
	{
		flex: 1;
		text-align: right;
	}

.nav ul li
	{
		list-style: none;
		display: inline-block;
		padding: 14px 16px;
		position: relative;
	}

.nav ul li a
	{
		color: #2e1114;
		text-decoration: none;
		font-size: 16px;
	}

.nav ul li a:hover
	{
		background-color: #83677b;
		border-radius: 30px;
		color:#fff;
		padding: 5px 15px;
	}

.text-box
	{
		width: 90%;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%,-50%);
		text-align: center;
	}

.text-box h1
	{
		font-size: 70px;
	}

.text-box p a
	{
		margin: 10px 0 40px;
		font-size: 25px;
		text-decoration: none;
		color: #adadad;
		display: inline-block;
		border: 1px solid #adadad;
		border-radius: 30px;
		padding: 12px 34px;
		background: transparent;
		position: relative;
		cursor: pointer;
	}

.text-box p a:hover
	{
		border: 1px solid #553d67;
		border-top-right-radius: 0;
		background-color: #553d67;
		color: #fff;
		transition: 1s;
	}

.feature-img img
	{
		width: 450px;
		position: absolute;
		bottom: 0;
		right: 5%;
		border-radius: 50%;
		opacity: 0;	
		transform: translateY(30px);
		animation: moveup 4s linear forwards;
	}

@keyframes moveup
	{
		100%{ opacity: 1;
			  transform: translateY(0px); 
			}
	}

.audio-col
	{
		float: left;
		margin-left: 2%;
		margin-top: 10px;
		display: flex;
	}


/*------------------- biodata page --------------------*/

h1
	{
		margin-top: 100px;
		font-size: 35px;
	}

.profile
	{
		width: 80%;
		margin: auto;
		padding-top: 150px;
		padding-bottom: 50px;
	}

h2
	{
		font-size: 30px;
	}

table
	{
  		border-collapse: collapse;
  		width: 100%;
	}

td, th 
	{
  		border: 1px solid black;
  		border-radius: 10px;
  		text-align: center;
  		padding: 8px;
  		width: 200px;
	}	

th
	{
		background-color: #6d597a;
		color: #fff;
	}


.profile-col
	{
		flex-basis: 48%;
		padding: 30px 2px;
	}

.profile-col img
	{
		width: 50%;
	}

h4
	{
		font-size: 30px;
	}

.about-col
	{
		flex-basis: 48%;
		padding: 30px 2px;
	}

.about-col:hover
	{
		background-color: #fff;
		transition: 1s;
	}

div.container
	{
		text-align: center;
	}

ol.myol
	{
		display: inline-block;
		text-align: justify;
		font-size: 20px;
	}


/*------------------- academic page --------------------*/

.academic
	{
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 200px;
	}

.academic h2
	{
		font-size: 36px;
		font-weight: 600;
	}

.academic p
	{
		color: #777;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		padding: 10px;
	}

.box-a
	{
		margin-top: 5%;
		display: flex;
		justify-content: space-between;
	}

.academic-col	
	{
		flex-basis: 31%;
		background: #fff3f3;
		border-radius: 10px;
		margin-bottom: 5%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
	}

h3
	{
		text-align: center;
		font-weight: 600;
		margin: 10px 0;
	}

.academic-col:hover
	{
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}


/*-------------------- experience page ------------------------*/

.experience
	{
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 200px;

	}

.experience h2
	{
		font-size: 36px;
		font-weight: 600;
	}

.experience p
	{
		color: #777;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		padding: 10px;
	}

.box-b
	{
		width: 50%;
		display: inline-block;
		text-align: center;
	}

.experience-col1	
	{
		flex-basis: 31%;
		background: #e7deda;
		border-radius: 10px;
		margin-bottom: 5%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
	}

.experience-col2	
	{
		flex-basis: 31%;
		background: #e4dddd;
		border-radius: 10px;
		margin-bottom: 5%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
	}

.experience-col3	
	{
		flex-basis: 31%;
		background: #dcd0d0;
		border-radius: 10px;
		margin-bottom: 5%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
	}

.experience-col4	
	{
		flex-basis: 31%;
		background: #dbd2d2;
		border-radius: 10px;
		margin-bottom: 5%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
	}

div.experience-col1 ul,.experience-col2 ul,.experience-col3 ul,.experience-col4 ul
	{
		display: inline-block;
		text-align: justify;
		list-style-position: inside;
	}

i.fa
	{
		font-size: 13px;
		color: #645775;
		margin-right: 5px;
	}

.experience-col1:hover,.experience-col2:hover,.experience-col3:hover,.experience-col4:hover
	{
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}


/*-------------------- portfolio page ------------------------*/

div.portfolio
	{
		width: 80%;
		margin: auto;
		padding-top: 200px;
		padding-bottom: 30px;
	}

div.portfolio h2
	{
		font-size: 36px;
	}

div.portfolio p
	{
		color: #777;
		font-size: 14px;
		font-weight: 300;
		padding: 10px;
	}

div.portfolio-col 
	{
  		padding: 10px 6px;
  		border: 1px solid #ccc;
 		display: inline-block;
 		width: 20%;
  		margin: 30px;
	}

div.portfolio-col:hover 
	{
  		border: 2px solid #7e6376;
	}

div.portfolio-col img 
	{
  		width: 100%;
  		height: auto;
	}

div.desc 
	{
  		padding: 15px;
  		text-align: center;
	}


/*------------------ gallery page ---------------------*/

div.photo
	{
		width: 80%;
		margin: auto;
		padding-top: 200px;
		padding-bottom: 30px;
	}

div.photo h2
	{
		font-size: 36px;
	}

div.photo p
	{
		color: #777;
		font-size: 14px;
		font-weight: 300;
		padding: 10px;
	}

div.photo-col 
	{
  		padding: 10px 6px;
  		border: 1px solid #ccc;
 		display: inline-block;
 		width: 20%;
  		margin: 30px;
	}

div.photo-col:hover 
	{
  		border: 2px solid #7e6376;
	}

div.photo-col img 
	{
  		width: 100%;
  		height: auto;
	}

div.desc 
	{
  		padding: 15px;
  		text-align: center;
	}

div.video
	{
		padding-top: 80px;
		padding-bottom: 30px;
	}

div.video h2
	{
		font-size: 36px;
	}

div.video p
	{
		color: #777;
		font-size: 14px;
		font-weight: 300;
		padding: 10px;
	}

div.video-col 
	{
  		padding: 10px 6px;
  		border: 1px solid #ccc;
 		display: inline-block;
  		margin: 30px;
	}

div.video-col:hover 
	{
  		border: 2px solid #7e6376;
	}

div.video-col source 
	{
  		width: 100%;
  		height: auto;
	}


/*-------------- contact page --------------------*/

.location
	{
		width: 80%;
		margin: auto;
		padding-top: 200px;
		padding-bottom: 30px;
	}

.location iframe
	{
		width: 100%;
	}

.row-b
	{
		width: 80%;
		margin: auto;
	}

.contact-col
	{
		flex-basis: 48%;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 30px;
	}

.contact-col div .fa
	{
		font-size: 20px;
		color: #645775;
		margin: 10px;
		margin-right: 30px;
	}

.contact-col div p
	{
		color: #777;
		font-size: 12px;
		font-weight: 300;
		padding: 0;
		
	}

.contact-col div h5
	{
		font-size: 15px;
		margin-bottom: 5px;
		color: #555;
		font-weight: 400;
	}

.submit-btn
	{
		display: inline-block;
		text-decoration: none;
		color: #ccc2cd;
		border: 1px solid #fff;
		padding: 12px 34px;
		font-size: 13px;
		background: transparent;
		position: relative;
		cursor: pointer;
	}

.submit-btn:hover
	{
		border: 1px solid #896c81;
		background: #896c81;
		transition: 1s;
	}

.contact-form input, .contact-form textarea
	{
		width: 50%;
		padding: 15px;
		margin-bottom: 17px;
		outline: none;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}


